* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
    background-color: black;
    color: white;
}

h2 {
    font-size: 8em;
    user-select: none;
    pointer-events: none;
    text-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
}

span {
    position: absolute;
    pointer-events: none;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    5%, 95% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1);
    }
}
